@using LandT_Defence.Models
@{

}

    <div class="row">
        <div class="col s12">
            <div id="validations" class="card card-tabs">
                <div class="card-content">
                    <div class="card-title">
                       
                            <div class="col s12 m6 l10">
                                <h4 class="card-title">Active Worker</h4>
                            </div>
                      
                    </div>
                    <div id="view-validations" class="active">
                        <table class="table datatable-complex-header" id="activeworker">
                            <thead>
                                <tr>
                                    <th>SrNo</th>
                                    <th>Tag Name</th>
                                    <th>WorkerName</th>
                                    <th>Assign Name</th>
                                </tr>
                            </thead>
                            <tbody id="altbody">
                             
                            </tbody>
                        </table>


                    </div>
                    
                </div>
            </div>
        </div>
    </div>
<script>
    loadAll(Loadcnt, "../common/activeworkerlist");


    function Loadcnt(response) {

    listcnt = response;
    LoadCntDroplist();
}


function LoadCntDroplist() {
    var dropdown = $('#activeworker tbody#altbody');
    dropdown.empty();
    var i = 1;
    $.each(listcnt, function (index, item) {
      
            var html = "<tr>";
            html += "<td>"+i+"</td>";
            html += " <td>" + item.tagname + "</td>";
            html += " <td>" + item.Workername + "</td>";
            html += "<td>" + item.Vendor + "</td> ";
            html += "</tr>";

            $("#activeworker tbody#altbody").append(html);
        i++;

    });



}


</script>
