<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IDMC_IOT_WindowService.Properties.Settings.IDMCConnectionString"
            connectionString="Data Source=GSSPL-01\SQLEXPRESS;Initial Catalog=IDMC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="Desharp:Enabled" value="1"/>
        <add key="Desharp:Output" value="html"/>
        <add key="Desharp:Levels" value="+exception,debug,info,-notice,-warning,+error,+critical,alert,+emergency,javascript"/>
        <add key="Desharp:Directory" value="~/logs"/>
      <add key="DBConnString" value="RGF0YSBTb3VyY2U9R1NTUEwtMDg7SW5pdGlhbCBDYXRhbG9nPUlETUM7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM7" />
      <!--<add key="DBConnString" value="RGF0YSBTb3VyY2U9QUNFUl9CTE9XTjI7SW5pdGlhbCBDYXRhbG9nPUlETUM7VXNlciBJRD1zYTtQYXNzd29yZD1zYUAxMjM7" />-->
      <add key="strUrl" value="192.168.0.113" />
      <add key="strUser" value="" />
      <add key="strPassword" value="" />
      <add key="strPort" value="1883" />
      
      <!--<add key="EmailID" value="Sohag.patel@banyantreesoft.com" />
      <add key="Password" value="Sohag6+5501" />-->
      <add key="EmailID" value="urjit@garimasystem.com" />
      <add key="Password" value="urjit@123" />
      
      <!--<add key="strTopic" value="/STATUS/867459041145079/" />-->
       <!--<add key="strTopic" value="/STATUS/862057040398577/" />
      <add key="strDeviceCode" value="862057040398577" />-->
      <add key="strTopic" value="/STATUS/+/"/>
      <!--<add key="strTopic" value="/STATUS/ES-24:0A:C4:9B:DD:50/" />-->
      <add key="strDeviceCode" value="ES-24:0A:C4:9B:DD:50" />

      <add key="strTopic1" value="/STATUS/867459041145079/" />
      <add key="strDeviceCode1" value="867459041145079" />
    </appSettings>
</configuration>